/* Рисуем доску для игру  */

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

/* --------------------------------------------------------------------------------------------- */

/* Убираем лишние границы у ячеек доски */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}
/* --------------------------------------------------------------------------------------------- */

/* Рисуем с помощью классов крестик, а также создаем hover-эффект для пустых ячеек  */
.cell.x::before,
.cell.x::after {
  background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.05);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.x {
}

/* --------------------------------------------------------------------------------------------- */

/* Рисуем с помощью классов нолик, а также создаем hover-эффект для пустых ячеек  */

.cell.circle::before,
.cell.circle::after {
  background-color: black;
}

.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  background-color: lightgrey;
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: calc(var(--mark-size) * 0.85);
  height: calc(var(--mark-size) * 0.85);
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

.cell.circle {
}

/* --------------------------------------------------------------------------------------------- */
